.container
  width 800px

.list
  padding 15px
  border-radius 10px
  background-color #f6f6f8
  & .listItem
    border-right 1px solid transparent
    &:hover
      border-right-color rgb(24, 144, 255)

.icon
  &:hover
    cursor pointer
    color rgb(24, 144, 255)

