.list
  border-radius 10px
  padding 15px
  background-color #f6f6f8
  & .listItem
    border-right 1px solid transparent
    cursor pointer
    &:hover
      border-right-color rgb(24, 144, 255)

.icon
  &:hover
    cursor pointer
    color rgb(24, 144, 255)

.view_box
  & .list
    background-color #fff
    & .listItem 
      display flex
      align-items: center
      box-shadow 1px 4px 14px -7px rgba(0,0,0,0.75)
      -webkit-box-shadow 1px 4px 14px -7px rgba(0,0,0,0.75)
      -moz-box-shadow 1px 4px 14px -7px rgba(0,0,0,0.75)
      border-radius 20px
      border-right-color transparent
      width: 300px;
      padding 1rem 1rem
      background-color #f6f6f8
      &:hover
        box-shadow 1px 8px 14px -7px rgba(18,64,106,0.75)
        -webkit-box-shadow 1px 8px 14px -7px rgba(18,64,106,0.75)
        -moz-box-shadow 1px 8px 14px -7px rgba(18,64,106,0.75)
.view_list
  width 800px

.icon_size
  font-size: 17px