.container
  display flex
  flex-direction column
  align-items center
  margin-top 60px

.centered
  display flex
  justify-content center

.filters
  display flex
  margin-bottom 20px
  & > div
    margin-right 10px
