.infoWrappBlock
  display flex
  justify-content space-between
  align-items start

.infoBlock
  display flex
  flex-direction column
  & :last-child
    max-width 250px

.editWrapper
  max-height 600px
  overflow-y auto