.container
  display flex
  flex-direction column

.name
  border-radius 6px
  padding 2px 4px
  background-color #1890ff
  color white

.dateWrapper
  display flex
  flex-direction row
  flex-wrap wrap

.date
  display: flex;
  align-items center
  flex-direction: column;
  margin 4px
  border 1px solid #1890ff
  border-radius 6px
  padding 4px
  color #1890ff